<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="BitcoinPayGate API client test suite">
            <directory>tests/BitcoinPayGate/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/BitcoinPayGate/</directory>
        </whitelist>
    </filter>
</phpunit>